/node_modules
/.husky
# /commitlint.config.js
/package-lock.json
/package.json
/sdk/KeyToneSetting.json
/sdk/log.jsonl
/sdk/temporaryDebug
/sdk/printconfig

# Private Keys
private_keys.env

*.syso

.DS_Store